---
layout: default
---



{% include postslimited.html %}

<div class="item">
    <h2 class="title1">
       Petition List software blab blab  {{ page.title }}
     <span class="item_meta quiet">
       python - May 12th 2010   {{ page.date | date: "%A, %B %d, %Y" }}
     </span> 
    </h2>

    <div class="item_body">
      Lorem ipsum dolor    
     {{ content }}
    </div>
   <div class="comments">
    <div id="disqus_thread"></div>
    <script type="text/javascript" src="http://disqus.com/forums/collapsinggeography/embed.js"></script>
  </div> 
</div>
<hr>
</div> 

<div class="recent-comments">
      <div id="dsq-recentcomments" class="dsq-widget"><span class="dsq-widget-title"></span><script type="text/javascript" src="http://disqus.com/forums/collapsinggeography/recent_comments_widget.js?num_items=3&avatar_size=32&hide_avatars=1"></script>
      </div>                                                                                                                                                                                                                                 
</div>


